* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: beige;
}
h1 {
    text-align: center;
    margin: 20px auto;
    color: yellowgreen;
}
ul {
    margin: 0 20%;
}
li {
    padding: 0.3rem;
}

a {
    text-decoration: none;
    color: darkkhaki;
}

a:hover {
    color: rgb(127, 123, 73);
}